:root{
  --brown:brown;
  --orange: orange;
  --white:white;
  --whitish:rgba(255, 255, 255, 0.664);
  --round:100px;
  --back:rgb(247, 218, 140);
  --shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.363);

}

body{
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    margin: 0;
    background-color: var(--back);
    
}
.overlay{
    display: none;
}
#nav-btn{
    display: none;
}
.logo{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: brown;
    font-size: 40px;
}

/* header{
   background-color: var(--back);
   top: 0;
   left: 0;
   width: 100%;
   position: fixed;
} */
header ul{
    padding: 20px;
    text-align: center;
    list-style-type: none;
    background-color:var(--orange);
    border-radius: 7px;
    box-shadow:var(--shadow) ;

}
header li a{
    color: var(--white);
    text-transform:uppercase;
    text-decoration: none;
    padding: 20px;

}

header li{
    display: inline;
    margin: 20px;
}

header li a:hover{
    background-color: var(--brown);
    color:var(--orange);
}
.container{
    padding: 20px;
    /* background-image: linear-gradient(24deg,var(--brown),var(--orange)) */
    background-color: var(--brown);
}
.Welcome{
    height: 30vh;
    padding: 100px; 
     box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.363);
     text-align: center;
     justify-content: center;
     min-height:50vh;
     animation-name: display;
     animation-duration: 3s;
     /* animation-iteration-count: infinite; */
     animation-fill-mode: forwards;
}
 h2{
    text-align: center;
}

@keyframes display{
    0%{
        background-color:var(--orange); 
        transform: scale(1.1);
        font-size: 16px;
        color: var(--white);
        text-transform: lowercase;
    }
    50%{
        background-color: var(--brown);
        color: var(--white);
        border-top-left-radius: 300px;
    }
    100%{
        background-image:linear-gradient(24deg,var(--orange),var(--brown));
        color: var(--white);
        text-transform: capitalize;
        transform: scale(1.0);
        border-top-right-radius: 500px;
        border-top-left-radius: 500px;
    }
}
.login{
    min-height: 500px;
    background-image: linear-gradient(var(--orange) ,var(--brown));
    padding: 20px;
    text-align: center;
    color: var(--whitish);
    opacity: 30%;
    /* font-weight: bolder; */
    margin: auto;
    border-radius: 7px;
    transform: skewX(45deg);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.363);
    animation-name: display-form;
    animation-duration: 3s;
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
    
}
@keyframes display-form{
    0%{
        transform: scale(1.1);
        font-size: 3px;
        font-size: 16px;
        color: var(--white);
        width: 20%;
        text-transform: lowercase;
        /* */
    }
    30%{
        width: 50%;
        font-size: 10px;
        
    }
    50%{
        background-color: var(--brown);
        color: var(--white);
        width:60%;
        font-size: 12px;
        
  ;
    }
    70%{
        width: 70%;
        font-size: 16px;
        /* transform: skewX(45deg); */
    }
    100%{
        background-image:linear-gradient(24deg,var(--orange),var(--brown));
        color: var(--white);
        text-transform: capitalize;
        font-weight: bold;
        width:80%;
        transform: scale(1.0);
        
        
    }
}
.form{
  padding: 10px;

}

#about{
    color: var(--orange);
    padding: 25px;
    background-image: linear-gradient(24deg,var(--orange),var(--brown));
    margin-top: 40px;
}

.card{
    
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    animation-name: display-div;
    animation-duration: 2s;

}

.card-content img{
    max-width: 100%;
    max-height: 100%;
    
}
.card-content{
    width: 300px;
    padding: 20px;
    background-color: var(--brown);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.342);
    border-radius: 7px;
    margin: 10px;
    
}
/* .card-content p{
    display: none;
} */

.card-content:hover{
    animation-name: enlarge;
    animation-duration:2s ;
    animation-fill-mode: forwards;
}

@keyframes enlarge{
    0%{
        background-color: var(--white);
        top:20px;
        bottom: 20px;
        color: var(--orange);
    }
    50%{
        background-color: var(--orange);
        color: var(--brown);
        

    }
    100%{
        background-color:var(--white);
        color: var(--brown);
        transform: scale(1.2);
        
    }
}
.login a{
    color:var(--white);
    font-weight: 900;
}

.myfield{
    padding: 10px;
    border: none;
    border-radius: 7px;
    width: 80%;
    background-color: inherit;
    border-bottom: 10px solid var(--orange);
    animation-name: show;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    text-align: center;
}

@keyframes show{
    0%{
        width: 20%;
        border-bottom: 1px solid var(--orange);

    }
    
    50%{
        width: 50%;
        color: var(--orange);
        border-bottom: 1px solid var(--brown);
    }
    100%{
        width: 80%;
        color: var(--white);
        border-bottom: 1px solid var(--white);
        border-radius: 0px;
    }
}

.mybtn{
    background-color:var(--orange);
    padding: 20px;
    text-transform: capitalize;
    font-weight: bolder;
    border: none;
    color: var(--white);
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
}

.mybtn:hover{
  background-color: var(--brown);
  color: var(--whitish);
}

.options{
    background-color:brown;
    text-transform: uppercase;
    width: 20%;
    margin: 0;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.342);
    border-radius: 7px;
    opacity: 10%;
}

.options a{
    text-decoration: none;
    color: var(--white);
    padding: 20px;
}
.options ul li{
 display: block;
 padding: 20px;
 /* border:1px solid var(--white);     */
}

.options li :hover{
    color: var(--whitish);
} 

.main{
    display: flex;
}
.home{
    margin: 0px 20px 0px 20px ;
    border-radius: 7px;
    min-height: 500px;
}
.card-price-content{
    width: 20%;
    margin: 20px;
}
.small{
    width:300px;
    background-color: var(--bro);
}
@media (max-width:600px){
    .login{
        width:80%;
    }
    header ul{
        display: none;
    }
    
    #nav-btn{
        text-align: center;
        display: block;
        color: brown;
    }
    .overlay{
        width: 100%;
        height: 100vh;
        background-color: black;
        opacity: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .overlay a{
        padding: 20px;
        text-decoration: none;
        color: white;
    }
}

